<div class="wrapper">
  <p>
    Last updated September 1st, 2020.
  </p>
  
  <p>
    Please read this policy carefully before posting any review. SGbabyreview
    reserves the right to change the content of this policy without notice. By
    using our website and registering an account with us, you agree to and adhere
    to the terms and conditions and other guidelines and notices on the site. We
    reserve the right to remove and reject reviews or other content found on the
    site, as well as the right to deactivate or delete member accounts, without
    any prior notice.
  </p>
  
  <h1>
    Personal attacks, vulgarities, offensive content
  </h1>
  
  <p>
    Personal attacks, insults and threats directed at other people, groups, or
    staff of companies are forbidden. Criticisms of other people’s race,
    nationality, religion, culture, beliefs etc are not tolerated as well. Any
    form of vulgarities and offensive content are not allowed. Reviews that
    contain any of the aforementioned will be removed without notice. SGbabyreview
    advocates an inclusive online community that respects and supports one
    another.
  </p>
  
  <h1>
    Irrelevant content
  </h1>
  
  <p>
    Content of the submitted reviews has to be original and relate to your own
    personal experience with the product or services. You should not copy or
    plagiarise other people’s content. You should be objective and tactful when
    writing a review. See our Review Guidelines for tips on writing a review.
  </p>
  
  <h1>
    Suspicious marketing & advertising reviews
  </h1>
  
  <p>
    Posting of any marketing, promotional, and advertising-related materials are
    not allowed. Overly positive reviews suspected to be related to marketing
    purposes will be removed as well. We take steps to ensure all reviews found on
    the site are genuine and honest to help parents make informed decisions.
  </p>
  
  <h1>
    Posting spams
  </h1>
  
  <p>
    Be specific and concise when posting reviews, comments, questions and answers
    on the site. Please restrain from flooding the site with pointless posts that
    provide no value to the discussion.
  </p>
  
  <h1>
    Duplicate accounts
  </h1>
  
  <p>
    Do not create more than one account per user. You can update your email
    address in your profile settings. Alternatively, If you have forgotten your
    password or username, you can click here to do a reset.
  </p>
  
  <h1>
    Removal requests
  </h1>
  
  <p>
    We assess all reasoned requests pertaining to removal of user content
    thoroughly. If you believe a review or content has violated our Review Posting
    Policy, has infringed someone’s right or has violated the law, please do not
    hesitate to report it by clicking on the flag icon on each post. We appreciate
    if you could also share with us the reason for flagging by providing factual
    evidence or details (if any). This is critical to speed up the investigation
    process and help us in making informed decisions. Be rest assured that we will
    look into each and every request seriously, please drop us an email if you
    have other concerns.
  </p>
  
  <h1>
    Personal details
  </h1>
  
  <p>
    You should never reveal personal details such as names, phone numbers, email
    addresses, addresses etc of yours as well as other people on this site.
  </p>
  
  <h1>
    Authentication of reviews
  </h1>
  
  <p>
    To safeguard the integrity of our website and ensure that we meet our
    objective of providing a trustworthy and reliable platform for users, we may
    conduct checks to authenticate a review. We may request reviewers to provide
    additional information to confirm that he/she has purchased a product or has
    used a service. The information collected will be kept confidential as
    stipulated in our Privacy Policy.
  </p>
  
</div>