* {
  box-sizing: border-box;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
          background: linear-gradient(to top, #8DE5B0, #80CBC4);
  width: 100%;
  height: auto;
  border-radius: 0 0 100px 0;
  padding-bottom: 35px;
  padding-top: 100px;
  padding-left:25px;
  padding-right:25px;
}

.header .ad {
  display:flex;
  justify-content: center;
  align-items: center;
  background:#F6F6F6;
  border-radius: 20px;
  padding:50px 0;
  margin-bottom:25px;
  width:100%;
}

.header .ad h1 {
  color: #C4BDBD;
  font-size: 18px;
}

.header .cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
          margin:15px 0;
        
}

.header .cont p {
  font-weight: 700;
}



.header .cont img {
  margin-left: 10px !important;
  height: auto;
  width: auto;
}

.header p {
  text-align: center;
  color: white;
  font-size: 22px;
}

.header .avatar {
  height: 64px;
  width: 64px;
  margin-top: 25px;
}

.alert {
  padding: 20px 15px;
}

.alert .alert-box {
  padding:35px;
  background: rgba(228, 221, 255, 0.38);
  border-radius: 20px;
}

.alert .alert-box p {
  color: #595959;
  font-size:16px;
}

.alert .alert-box .purple {
  color: #8F93EA;
  font-weight: 700;
}

.review__img {
  height: 64px;
  width: 64px;
}

.review__img {
  height: 64px;
  width: 64px;
}

.review {
  display:flex;
  flex-direction: column;
  padding: 1em;
  /* background-color: #F6F6F6; */
}

.user-info {
  display:flex;
  flex-direction: row;
  align-items: center;
}

.username-date {
  margin-left:10px;
  
}

.username-date p {
  font-size:14px;
}

.username-date p:last-child {
  font-style: italic;
  font-weight: 300;
  margin-top:2px;
}


.opis {
    margin-top:17px;
}

.zvezdice {
    margin-top:17px;
    display:flex;
    flex-direction: row;
}

.zvezdice i {
    margin-left:10px;
}

.opis p {
    font-size:14px;
    line-height: 28px;
    color:#252525;
}
