<div class="app">
  <header>
    <nav>
      <a routerLink="/home">Home</a>
      <a routerLink="/about_us">About us</a>
      <a routerLink="/contact_us">Contact us</a>
      <a routerLink="/blog">Blog</a>
      <a routerLink="/review_guidelines">Review Guidelines</a>
      <a routerLink="/rewards_program_faq">Rewards Program FAQ</a>
      <div *ngIf="user.isLoggedIn; else loginBtns">
        <a routerLink="/profile">Profile</a>
      </div>
      <ng-template #loginBtns>
        <a routerLink="/login">Login</a>
        <a routerLink="/register">Register</a>
      </ng-template>
      <a routerLink="/invalid">Wildcard</a>
    </nav>
    <nav>
      <a
        *ngFor="let category of categoriesService.categories"
        routerLink="/products/{{category.url}}">
        {{category.title}}
      </a>
    </nav>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer>
    <a routerLink="/terms_of_use">Terms of Use</a>
    <a routerLink="/privacy_policy">Privacy Policy</a>
    <a routerLink="/review_posting_polocy">Review Posting Policy</a>

    <p>
      Copyright © 2021 SGBabyReview. All Rights Reserved.
    </p>
  </footer>
</div>