<div class="home">

  <div class="hero">
    <img class="hero__img" src="assets/clouds-alt.png">
    <div class="hero__content">
      <div class="adSpace">
       
      </div>
      <h1 class="hero__content__title">
        SINGAPORES' FIRST BABY REVIEW SITE
      </h1>
      <p class="hero__content__subtitle">
        Find genuine reviews of baby products and services shared by fellow
        parents.
      </p>
      <a *ngIf="!userService.isLoggedIn; else profile" routerLink="/login">LOGIN</a>
      <ng-template #profile>
        <a routerLink="/profile">PROFILE</a>
      </ng-template>
    </div>
   
  </div>

  <app-browse></app-browse>

</div>
