<h1>
  Writing a review
</h1>

<p>
  Reviews must be at least 30 words in length. To write a helpful review to
  share with the community, you can consider these points below:
</p>

<mat-list role="list">
  <mat-list-item role="listitem">
    Why did you purchase the product or engage the service?
  </mat-list-item>
  <mat-list-item role="listitem">
    Does the product or service meet your expectations?
  </mat-list-item>
  <mat-list-item role="listitem">
    What do you like or dislike about the product or service?
  </mat-list-item>
  <mat-list-item role="listitem">
    How can this product or service be improved?
  </mat-list-item>
  <mat-list-item role="listitem">
    Do you think the product or service is worth the price?
  </mat-list-item>
  <mat-list-item role="listitem">
    Would you recommend the product or service?
  </mat-list-item>
</mat-list>

<p>
  All reviews posted on this website have to adhere to our Review Posting
  Policy, Terms of Use, and Privacy Policy.
</p>

<h1>
  Adding photos to your review
</h1>

<p>
  Uploading photos will make your review more illustrative to other parents.
  When taking photos of the product, follow these guidelines:
</p>

<mat-list role="list">
  <mat-list-item role="listitem">
    Photographing the product against a plain white background would give the
    best results
  </mat-list-item>
  <mat-list-item role="listitem">
    Photograph the product in different angles
  </mat-list-item>
  <mat-list-item role="listitem">
    Take images under natural lighting can give a clearer view
  </mat-list-item>
  <mat-list-item role="listitem">
    Do not capture other brands’ products in the same shot
  </mat-list-item>
  <mat-list-item role="listitem">
    Only original photos are accepted. Do not upload photos that do not belong
    to you.
  </mat-list-item>
</mat-list>
