

<div *ngIf="product; else fetching">
  <div class="hero">
    <img class="product__img" [src]="imageService.getUrl('products', product.url + '.png')">
  </div>

  <div class="product__content">
    <h2>{{product.title}}</h2>
  
    <!-- <a routerLink="../{{product.category.url}}"><i>{{product.category.title}}</i></a> -->
  
    
    <div class="stars">
      <star-rating
        [value]="averageStars"
        [totalstars]="5"
        checkedcolor="#80CBC4"
        uncheckedcolor="grey"
        size="24px"
        [readonly]="true">
      </star-rating> {{averageStars.toFixed(2)}} / based on {{product.reviews.length}} reviews.
    </div>
  
    <p>{{product.content}}</p>
  
    <a [href]="product.details.url">
     <button class="btn--fill">WHERE TO BUY</button>
    </a>
  </div>


  <mat-tab-group mat-stretch-tabs>

    <mat-tab label="Reviews ({{product.reviews.length}})">
      <div *ngIf="product.reviews.length; else noReviews">
        <div class="ratings">
          <div class="barss">
            5 Stars
            <div class="meter ">
              <div class="meter__progress" [style.width.%]="fiveWidth"></div>
            </div>
            {{product.stars[4]}}
          </div>
          <div class="barss">
            4 Stars
            <div class="meter ">
              <div class="meter__progress" [style.width.%]="fourWidth"></div>
            </div>
            {{product.stars[3]}}
          </div>
          <div class="barss">
            3 Stars
            <div class="meter ">
              <div class="meter__progress" [style.width.%]="threeWidth"></div>
            </div>
            {{product.stars[2]}}
          </div>
          <div class="barss">
            2 Stars
            <div class="meter ">
              <div class="meter__progress" [style.width.%]="twoWidth"></div>
            </div>
            {{product.stars[1]}}
          </div>
          <div class="barss">
            1 Stars
            <div class="meter ">
              <div class="meter__progress" [style.width.%]="oneWidth"></div>
            </div>
            {{product.stars[0]}}
          </div>
        </div>

        <app-review *ngFor="let review of product.reviews" [review]="review"></app-review>
         <!-- <div class="review" *ngFor="let review of product.reviews">
          <div class="user-info">
              <img class="review__img" src="http://localhost:4100/assets/avatars/{{review.username}}.jpg">
              <div class="username-date">
                <h3>{{review.username}}</h3>
                <p>{{review.posted | date: 'mediumDate'}}</p>
                 <button>❤ {{review.likes.length}}</button>
                
              </div>
          </div>
      
          <div class="zvezdice">
            <i class="far fa-heart"></i>
            <i class="far fa-heart"></i>
            <i class="far fa-heart"></i>
            <i class="far fa-heart"></i>
            <i class="far fa-heart"></i>
            {{review.stars}}
          </div>
      
          <div class="opis">
            <p>{{review.title}}</p>
            <p>{{review.content}}</p>
          </div>
        </div>  -->
      </div>

      <ng-template #noReviews>
        <p>There are no reviews yet.</p>
      </ng-template>
    </mat-tab>

    <mat-tab label="Q&A">
      <div *ngIf="product.qna.length; else noQuestions">
        <div *ngFor="let question of product.qna">
        </div>
      </div>
      <ng-template #noQuestions>
        <p>
          There are no questions yet.
        </p>
      </ng-template>
    </mat-tab>

    <mat-tab label="Details">
      details tab
    </mat-tab>
  </mat-tab-group>

  <!-- <button>Write review</button>

  <h1>Review snapshot</h1>
  <hr>

  
  <h1>
    Reviews
  </h1>

  <hr>

  

  <h1>Write a review:</h1>

  <div *ngIf="userService.user; else loginToPostReview">
    <form [formGroup]="writeReviewForm" (ngSubmit)="onReviewSubmit()">
      <p>STARS</p>
      <select formControlName="stars">
        <option *ngFor="let star of stars" [value]="star">{{star}}</option>
      </select>

      <input placeholder="Title" formControlName="title">

      <textarea formControlName="content"></textarea>

      <button type="submit">SUBMIT</button>
    </form>
  </div>

  <ng-template #loginToPostReview>
    <p>You need to be logged in to post a review.</p>
  </ng-template>

  <hr>

  <h1>Q & A</h1>
  

  <h1>Write a question:</h1>
  <div *ngIf="userService.user; else loginToPostQuestion">
    <form>
      <button type="submit">SUBMIT</button>
    </form>
  </div>
  <ng-template #loginToPostQuestion>
    You need to be logged in to post a question.
  </ng-template> -->
</div>

<ng-template #fetching>
  Loading...
</ng-template>
