img {
  height: 256px;
  width: 256px;
}

.review {
  display: flex;
  padding: 1em;
  box-sizing: border-box;
  border: 1px solid green;
}

.review__img {
  height: 64px;
  width: 64px;
  margin-right: 1em;
}