
<div *ngIf="product; else fetching">
  <div class="hero">
    <img class="product__img" [src]="imageService.getUrl('products', product.url + '.png')">
  </div>

  <div class="product__content">
    <h2>{{product.title}}</h2>

    <div class="stars">
      <star-rating
        [value]="averageStars"
        [totalstars]="5"
        checkedcolor="#80CBC4"
        uncheckedcolor="grey"
        size="29px"
        [readonly]="true">
      </star-rating> <p>{{averageStars}} / based on {{product.reviews.length}} reviews.</p>
    </div>

    <p>{{product.content}}</p>

    <a [href]="product.details.url">
     <button class="btn--fill">WHERE TO BUY</button>
    </a>
  </div>

  <mat-tab-group mat-stretch-tabs>

    <mat-tab label="Reviews ({{product.reviews.length}})">
      <div *ngIf="product.reviews.length; else noReviews">
        <div class="ratings">
          <div class="barss">
            <p>5 stars</p>
            <div class="meter ">
              <div class="meter__progress" [style.width.%]="fiveWidth"></div>
            </div>
            {{product.stars[4]}}
          </div>
          <div class="barss">
            <p>4 stars</p>
            <div class="meter ">
              <div class="meter__progress" [style.width.%]="fourWidth"></div>
            </div>
            {{product.stars[3]}}
          </div>
          <div class="barss">
            <p>3 stars</p>
            <div class="meter ">
              <div class="meter__progress" [style.width.%]="threeWidth"></div>
            </div>
            {{product.stars[2]}}
          </div>
          <div class="barss">
            <p>2 stars</p>
            <div class="meter ">
              <div class="meter__progress" [style.width.%]="twoWidth"></div>
            </div>
            {{product.stars[1]}}
          </div>
          <div class="barss">
            <p>1 stars</p>
            <div class="meter ">
              <div class="meter__progress" [style.width.%]="oneWidth"></div>
            </div>
            {{product.stars[0]}}
          </div>
        </div>

        <div class="sort">
          <button [matMenuTriggerFor]="sortMenu" class="sortButton">Sort by</button>
          <mat-menu #sortMenu="matMenu">
          <button mat-menu-item (click)="sortDateN2O()">Date (Oldest to Newest)</button>
          <button mat-menu-item (click)="sortDateO2N()">Date (Newest to Oldest)</button>
        </mat-menu>
        <button [matMenuTriggerFor]="filterMenu" class="sortButton">Filter by</button>
        <mat-menu #filterMenu="matMenu">
          <button mat-menu-item (click)="sortStars(1)">1 star</button>
          <button mat-menu-item (click)="sortStars(2)">2 star</button>
          <button mat-menu-item (click)="sortStars(3)">3 star</button>
          <button mat-menu-item (click)="sortStars(4)">4 star</button>
          <button mat-menu-item (click)="sortStars(5)">5 star</button>
        </mat-menu>
        <button (click)="sortedReviews = product.reviews" class="sortButton">Clear filters</button>
        </div>

        <app-review *ngFor="let review of sortedReviews" [review]="review"></app-review>
        <div style="padding-bottom:2em;"></div>
      </div>

      <ng-template #noReviews>
        <p>There are no reviews yet.</p>
      </ng-template>
    </mat-tab>

    <mat-tab label="Q&A">
      <div *ngIf="product.qna.length; else noQuestions">
        <div *ngFor="let question of product.qna">
        </div>
      </div>
      <ng-template #noQuestions>
        <p>
          There are no questions yet.
        </p>
      </ng-template>
    </mat-tab>

    <mat-tab label="Details">
      details tab
    </mat-tab>
  </mat-tab-group>

  <!-- <button>Write review</button>

  <h1>Review snapshot</h1>
  <hr>

  
  <h1>
    Reviews
  </h1>

  <hr>

  

  <h1>Write a review:</h1>

  <div *ngIf="userService.user; else loginToPostReview">
    <form [formGroup]="writeReviewForm" (ngSubmit)="onReviewSubmit()">
      <p>STARS</p>
      <select formControlName="stars">
        <option *ngFor="let star of stars" [value]="star">{{star}}</option>
      </select>

      <input placeholder="Title" formControlName="title">

      <textarea formControlName="content"></textarea>

      <button type="submit">SUBMIT</button>
    </form>
  </div>

  <ng-template #loginToPostReview>
    <p>You need to be logged in to post a review.</p>
  </ng-template>

  <hr>

  <h1>Q & A</h1>
  

  <h1>Write a question:</h1>
  <div *ngIf="userService.user; else loginToPostQuestion">
    <form>
      <button type="submit">SUBMIT</button>
    </form>
  </div>
  <ng-template #loginToPostQuestion>
    You need to be logged in to post a question.
  </ng-template> -->
</div>

<ng-template #fetching>
  Loading...
</ng-template>
