<div class="products">
  <div class="product" *ngFor="let product of products">
    <div class="productWrapper">
      <div class="top">
        <img class="product__img" [src]="imageService.getUrl('products', product.url + '.png')">
      </div>
      <div class="bottom">
        <a [routerLink]="product.url">{{product.title}}</a>
        <div class="stars">
          <star-rating
            [value]="getStars(product)"
            [totalstars]="5"
            checkedcolor="#80CBC4"
            uncheckedcolor="grey"
            size="24px"
            [readonly]="true">
          </star-rating> {{getStars(product)}} / based on {{product.reviews.length}} reviews.
        </div>
      </div>
    </div>
  </div>
</div>
