<mat-accordion>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        How do I take part?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      Sign up to be a member and start posting reviews.
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        What are the rewards?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      $10 cash.
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        How do I qualify for the rewards?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      To qualify for the reward, you have to submit reviews for 5 different
      products. Each review has to be at least 30 words in length and adheres to
      our Review Posting Policy. You can refer to our Review Guidelines for tips
      on what to write in your review. We retain the right to determine if the
      reviews are qualified for the reward campaign.
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        How do I receive my reward?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      We will write to you via email to ask for your mobile number and name
      linked to your PayNow account. Please double check that the details
      (mobile & name) you've provided are correct to avoid any erroneous
      transfers. Please check your spam or promotion mailbox if you did not
      receive an email from us within a week from completing the 5 reviews. Once
      we have gotten your reply, you should receive $10 within 3 to 5 business
      days.
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Is there a timeframe for the reward campaign?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      Currently, our reward campaign is running continuously until further
      notice.
    </p>
  </mat-expansion-panel>

</mat-accordion>

<p>
  If you have other questions that are not answered, please contact us at
  hello@sgbabyreview.com
</p>