<div class="blogs">
  <h1 class="blogs__title">
    Latest blogs
  </h1>

  <div class="scroll-container">
    <mat-card>
      <img src="assets/Choosing-the-right-baby-bathtub-for-a-safe-bath-time-1170x628 3.png">
      <h1>Naslov</h1>
      <div class="zvezdice">
        <p>September 6, 2021</p>
        <div class="tag">
          <a>Baby</a>
        </div>
      </div>
      <mat-card-content>
        <p>
          Tried this newborn diaper for my baby and it has good absorbency.
          recommend it for newborns on the smaller scale of weight (below 3kg)
          as the newborn fit cutting is ...
        </p>
      </mat-card-content>
    </mat-card>
  </div>

</div>
