<div class="menu">
  <div class="menu-wrapper">
    <div class="sub">
      <a [routerLinkActive]="'is-active'" routerLink="/home"><i class="fas fa-igloo"></i></a>
    </div>
  
    <div class="sub">
      <a [routerLinkActive]="'is-active'" style="margin-right:20px;"><i class="fas fa-clone"></i></a>
    </div>
  
    <div class="sub" [routerLink]="userService.isLoggedIn ? ['/profile'] : ['/login']">
      <a [routerLinkActive]="'is-active'" style="margin-left:20px;"><i class="fas fa-user"></i></a>
    </div>
  
    <div class="sub" [matMenuTriggerFor]="menu">
      <a [routerLinkActive]="'is-active'"><i class="fas fa-stream"></i></a>
    </div>
  
    <div class="plus" (click)="openDialog()">
      <i class="fas fa-plus fas-2x"></i>
    </div>
  
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Sign out</button>
      <button mat-menu-item routerLink="/blog">Blog</button>
      <button mat-menu-item routerLink="/contact_us">Contact us</button>
      <button mat-menu-item routerLink="/about_us">About us</button>
    </mat-menu>
  </div>
</div>
