.wrapper {
  box-sizing: border-box;
  padding-top:30px;
}

.categories {
  display: flex;
  overflow-x: auto;
  padding-top:30px;
  padding-right:25px;

}
.categories::-webkit-scrollbar {
  display: none;
}

.category {
  padding: 0.5em 2em;
  flex: 0 0 auto;
  border-radius: 48px;
  box-sizing: border-box;
  color: black;
  text-decoration: none;
}

.category {
  border: 1px solid #80cbc4;
}

.category {
  margin-left:1em;
}

.category:first-child {
  margin-left:25px;
}

h1 {
  margin-left:25px;
  font-size:18px;
  font-family: Nunito;
}