<div class="wrapper-1">
    <div class="addSpace">
        <p>AD SPACE</p>
    </div>
    <mat-tab-group mat-align-tabs="center" mat-stretch-tabs>
        <mat-tab label="Latest" >
            <div class="wrapper">
                <div class="blog-card">
                    <img src="assets/video-2.png">
                      <div class="content">
                        <h1>Choosing the Right Baby Bathtub</h1>
                    <div class="zvezdice">
                      <p>September 6, 2021</p>
                      <div class="tag">
                        <a>Baby</a>
                      </div>
                    </div>
                    <div>
                      <p>
                        Tried this newborn diaper for my baby and it has good absorbency.
                        recommend it for newborns on the smaller scale of weight (below 3kg)
                        as the newborn fit cutting is ...
                      </p>
                      </div>
                    </div>
                  </div>
    
                  <div class="blog-card">
                    <img src="assets/video-1.png">
                      <div class="content">
                        <h1>Best Ergobaby Baby Carrier</h1>
                    <div class="zvezdice">
                      <p>May 31, 2021</p>
                      <div class="tag purple">
                        <a>Baby</a>
                      </div>
                    </div>
                    <div>
                      <p>
                        While toting your little one along in your arms or a stroller works for some occasions, a baby carrier is the perfect piece of equipment for strolling through the city or park...
                      </p>
                      </div>
                    </div>
                  </div>
    
                  <div class="blog-card">
                    <img src="assets/video-3.png">
                      <div class="content">
                        <h1>How to Choose Baby Toys</h1>
                    <div class="zvezdice">
                        <p>April 19, 2021</p>
                      <div class="tag green">
                        <a>Baby</a>
                      </div>
                    </div>
                    <div>
                      <p>
                        Babies are natural-born explorers. Even before they can crawl, talk, or walk, they’re ready to figure out how their hands, eyes, and ears work by playing with toys...
                      </p>
                      </div>
                    </div>
                  </div>
            </div>
        </mat-tab>
        <mat-tab label="Popular">
            <div class="wrapper">
                <div class="blog-card">
                    <img src="assets/blog-2.png">
                      <div class="content">
                        <h1>Choosing the Right Baby Bathtub</h1>
                    <div class="zvezdice">
                      <p>September 6, 2021</p>
                      <div class="tag">
                        <a>Baby</a>
                      </div>
                    </div>
                    <div>
                      <p>
                        Tried this newborn diaper for my baby and it has good absorbency.
                        recommend it for newborns on the smaller scale of weight (below 3kg)
                        as the newborn fit cutting is ...
                      </p>
                      </div>
                    </div>
                  </div>
    
                  <div class="blog-card">
                    <img src="assets/blog-2.png">
                      <div class="content">
                        <h1>Choosing the Right Baby Bathtub</h1>
                    <div class="zvezdice">
                      <p>September 6, 2021</p>
                      <div class="tag">
                        <a>Baby</a>
                      </div>
                    </div>
                    <div>
                      <p>
                        Tried this newborn diaper for my baby and it has good absorbency.
                        recommend it for newborns on the smaller scale of weight (below 3kg)
                        as the newborn fit cutting is ...
                      </p>
                      </div>
                    </div>
                  </div>
    
                  <div class="blog-card">
                    <img src="assets/blog-2.png">
                      <div class="content">
                        <h1>Choosing the Right Baby Bathtub</h1>
                    <div class="zvezdice">
                      <p>September 6, 2021</p>
                      <div class="tag">
                        <a>Baby</a>
                      </div>
                    </div>
                    <div>
                      <p>
                        Tried this newborn diaper for my baby and it has good absorbency.
                        recommend it for newborns on the smaller scale of weight (below 3kg)
                        as the newborn fit cutting is ...
                      </p>
                      </div>
                    </div>
                  </div>
            </div>
        </mat-tab>
        <mat-tab label="Featured">
            <div class="wrapper">
                <div class="blog-card">
                    <img src="assets/blog-2.png">
                      <div class="content">
                        <h1>Choosing the Right Baby Bathtub</h1>
                    <div class="zvezdice">
                      <p>September 6, 2021</p>
                      <div class="tag">
                        <a>Baby</a>
                      </div>
                    </div>
                    <div>
                      <p>
                        Tried this newborn diaper for my baby and it has good absorbency.
                        recommend it for newborns on the smaller scale of weight (below 3kg)
                        as the newborn fit cutting is ...
                      </p>
                      </div>
                    </div>
                  </div>
    
                  <div class="blog-card">
                    <img src="assets/blog-2.png">
                      <div class="content">
                        <h1>Choosing the Right Baby Bathtub</h1>
                    <div class="zvezdice">
                      <p>September 6, 2021</p>
                      <div class="tag">
                        <a>Baby</a>
                      </div>
                    </div>
                    <div>
                      <p>
                        Tried this newborn diaper for my baby and it has good absorbency.
                        recommend it for newborns on the smaller scale of weight (below 3kg)
                        as the newborn fit cutting is ...
                      </p>
                      </div>
                    </div>
                  </div>
    
                  <div class="blog-card">
                    <img src="assets/blog-2.png">
                      <div class="content">
                        <h1>Choosing the Right Baby Bathtub</h1>
                    <div class="zvezdice">
                      <p>September 6, 2021</p>
                      <div class="tag">
                        <a>Baby</a>
                      </div>
                    </div>
                    <div>
                      <p>
                        Tried this newborn diaper for my baby and it has good absorbency.
                        recommend it for newborns on the smaller scale of weight (below 3kg)
                        as the newborn fit cutting is ...
                      </p>
                      </div>
                    </div>
                  </div>
            </div>
        </mat-tab>
      </mat-tab-group>
</div>