.review__img {
  height: 64px;
  width: 64px;
}

star-rating {
  margin-top:15px;
}

.review {
  display:flex;
  flex-direction: column;
  padding: 1.5em;
  background-color: #F6F6F6;
  border-radius:15px;
  -webkit-box-shadow: 3px 3px 24px 1px rgba(161, 161, 161, 0.3);
  box-shadow: 3px 3px 24px 1px rgba(161, 161, 161, 0.3);
  margin-top:25px !important;
}

.wrapper {
  padding:0 25px;
}


.user-info {
  display:flex;
  flex-direction: row;
  align-items: center;
}

.username-date {
  font-style: italic;
  
}

.username-date p {
  font-size:14px;
}

.username-date p:last-child {
  font-style: italic;
  font-weight: 300;
}


button {
  background:none;
}

h3 {
  margin:0;
}


.zvezdice {
    display:flex;
    flex-direction: row;
    margin:10px 0;
}

i {
  font-size:20px;
  color:#80CBC4;
}

.zvezdice .fas {
  color:#80CBC4;
}



.zvezdice i {
    margin-left:1px;
}

.zvezdice i:first-child {
  margin-left:0;
}

.opis p {
    font-size:16px;
    line-height: 30px;
    color:#6A6969;
}

.opis {
  margin:12px 0;
}

.user {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.user p {
  margin-left:10px;
  font-size:16px !important;
}

.user p:first-child {
  font-weight: 700;
  font-style: normal;
}

.user h3 {
  margin-left:10px;
  font-weight: bold;
  font-size:16px !important;
}

.buttons button:not(:first-child):not(:last-child) {
  margin:0 5px;
}

.buttons button:last-child {
  margin-left:10px;
}

.buttons {
  margin-top:15px;
}

.buttons button:first-child {
  color:#80CBC4;
}