

<div class="wrapper">
  <div class="review" *ngIf="review; else isFetching">
    <div class="user-info">
      <img class="review__img" src="http://localhost:4100/assets/avatars/{{review.username}}.jpg">
      <div class="username-date">
        <div class="user">
          <p>{{review.username}}</p>
          <p>{{review.posted | date: 'mediumDate'}}</p>
        </div>
      </div>
    </div>

    <star-rating
      [value]="review.stars"
      [totalstars]="5"
      checkedcolor="#80CBC4"
      uncheckedcolor="grey"
      size="28px"
      [readonly]="true">
    </star-rating>

    <div class="opis">
      <p>{{review.content}}</p>
    </div>

    <div class="buttons">
      <button><i class="far fa-heart"></i> {{review.likes.length}}</button>
      <button [socialShare]="'fb'"><i class="fas fa-share-alt"></i></button>
      <button><i class="fas fa-flag "></i></button>
    </div>
  </div>
</div>



<ng-template #isFetching>
  Loading...
</ng-template>
