<mat-card  *ngIf="review; else isFetching">

  <div class="review">
    <div class="user-info">
        <img class="review__img" src="http://localhost:4100/assets/avatars/{{review.username}}.jpg">
        <div class="username-date">
          <div class="user">
            <p>{{review.username}}</p>
            <p>{{review.posted | date: 'mediumDate'}}</p>
          </div>
         
        </div>
    </div>

 <div class="zvezdice">
  <i class="fas fa-star fa-2x"></i>
  <i class="fas fa-star fa-2x"></i>
  <i class="fas fa-star fa-2x"></i>
  <i class="far fa-star fa-2x"></i>
  <i class="far fa-star fa-2x"></i>
    </div> 

    <div class="opis">
      <p>{{review.content}}</p>
    </div>

    <div class="buttons">
      <button><i class="far fa-heart fa-xl"></i> {{review.likes.length}}</button>
      <button><i class="fas fa-share-alt fa-xl"></i></button>
      <button><i class="fas fa-flag fa-xl"></i></button>
    </div>
  </div>


</mat-card>


<ng-template #isFetching>
  Loading...
</ng-template>
