.about-us {
  padding: 0 2em;
  padding-bottom: 2em;
}

.about-us__title, .about-us__content {
  font-size: 18px;
}

.about-us__title {
  margin: 0;
  padding: var(--spacing-lg) 0;
  box-sizing: border-box;
  font-weight: 600;
}

.about-us__content {
  font-weight: 300;
  line-height: 30px;
  color:#6A6969;
}

* {
  font-family: Nunito;
}
