<div class="wrapper">

  <h1 class="title">
    How it works
  </h1>

  <div class="containers">
    <div class="container">
      <img class="container__img" src="assets/1.gif">
      <h1>
        Search
      </h1>
      <p class="container__content">
        Search for a product, brand or category
      </p>
    </div>

    <div class="container">
      <img class="container__img" src="assets/2.gif">
      <h1>
        Read reviews
      </h1>
      <p class="container__content">
        Read reaviews shared by fellow parents
      </p>
    </div>

    <div class="container">
      <img class="container__img" src="assets/4.gif">
      <h1>
        Community
      </h1>
      <p class="container__content">
        Register with us and share your review
      </p>
    </div>
  </div>

</div>
