.form-wrapper {

  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  box-sizing: border-box;
  justify-content: flex-end;
  align-items: flex-start;
  padding:6em 1.5em 1.5em 1.5em;
  
}

.form-wrapper h1, p {
  font-size:16px;
}


a {
  text-decoration: none !important;
  color:#80CBC4;
  font-weight: 600;
}


.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.or {
  position: relative;
  height: 0;
  width: 100%;
  border-bottom: 2px solid rgb(237, 237, 237);
}

.or__text {
  position: absolute;
  bottom: -50%;
  left: 50%;
  padding: 0.1em;
  transform: translate(-50%, 50%);
  background-color:transparent;
  font-size:16px;
  font-weight: 300;
  background:white;

  /* border: 1px solid red; */
}

.form__forgot-password {
  margin: 0.5em 0;
  display: block;
  align-self: flex-start;
  font-size:14px !important;
}

.blob_right {
  position:absolute;
  right:0;
  top:0;
}

.form__submit {
  width:100%;
  background: linear-gradient(to left, #8DE5B0, #80CBC4);
  border-radius:50px;
  text-align: center;
  font-size: 16px;
  color:white;
  padding:17px 0;
  margin:1em 0;
  -webkit-box-shadow: 1px 5px 20px 5px rgba(148, 148, 148, 0.4);
  box-shadow: 1px 5px 20px 5px rgba(148, 148, 148, 0.4);
}

.login-google {
  align-self: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin-top:2em;
}

.login-google img {
  width:35px;
}



.form__forgot-password {
  font-size:18px;
  font-weight: 400;
}

.login-google i:last-child {
  margin-left:5px;
}

.login-google i:first-child {
  margin-right:5px;
}

.login-google i {
  color:#80CBC4;
}