<div class="form-wrapper">
  <h1>
    Welcome back!
  </h1>
  <p>
    Don't have an account? <a routerLink="/register">Register!</a>
  </p>

  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="standard">
      <mat-label>Email</mat-label>
      <input matInput type="email" placeholder="Email" formControlName="email">

      <mat-error *ngIf="isEmailInvalid">Invalid email</mat-error>
      <mat-error *ngIf="isEmptyFormField(email)">Field can't be empty</mat-error>
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Password</mat-label>
      <input matInput type="password" placeholder="Password" formControlName="password">
      <mat-error *ngIf="isEmptyFormField(password)">Field can't be empty</mat-error>
      <mat-error *ngIf="!isLength(password, 6)">Minimum 6 characters</mat-error>
    </mat-form-field>

    <a class="form__forgot-password" href="#">Forgot password?</a>

    <button class="form__submit" type="submit" [disabled]="!form.valid">
      Submit
    </button>

  </form>

  <br>

  <div class="or">
    <div class="or__text">Or</div>
  </div>

  <div class="login-google">
    <img src="assets/social-media/facebook.png" alt="Facebook">
    <img src="assets/social-media/google.png" alt="Google">
  </div>
</div>
