footer {
  padding:2em 0 8em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #212121;
}

footer div:not(:first-child):not(:last-child) {
  margin: 20px 0;
}

footer div {
  display: flex;
  flex-direction: column;
}

footer div a, footer div p {
  color: white;
  text-align: center;
}


p,a, h1 {
  font-family:Nunito;
  font-size:14px;
}

a {
  text-decoration: none;
}

.social {
  display:flex;
  flex-direction:row !important;  
}

i {
  color:white;
}

i:first-child {
  margin-right:0.2em;
}

i:last-child {
  margin-left:0.2em;
}