.reviews {
  padding-top:30px;

}

.reviews h1 {
  margin-bottom: 20px;
  margin-left:25px;
  font-size:16px;
}



p {
  font-size:16px;
  line-height: 22px;
  opacity:0.8;
  color:#6A6969;
}

a {
  font-size:16px;
  color:#222222;
  font-weight: 600;
  text-decoration: none;
}

.reviews .scroll-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  padding-bottom:30px;
  padding-top:35px;
  padding-right:25px;
  scroll-snap-type: x mandatory;
  
}

.review__img {  
  height:140px;
}

.reviews .scroll-container .card:first-child {
margin-left:25px;
}

.reviews .scroll-container .card {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width:80%;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 15px;
  background: #F6F6F6;
  -webkit-box-shadow: 3px 3px 24px 1px rgba(161, 161, 161, 0.3);
  box-shadow: 3px 3px 24px 1px rgba(161, 161, 161, 0.3);
  scroll-snap-align: center;
  margin-left:25px;
}



.card .top {
  display:flex;
  justify-content: center;
  width:100%;
  padding-top:1em;  
}

.card .bottom h1 {
  line-height: 20px;
  font-weight: bold;
}

.card .bottom h1 span {
  font-weight: 400;
  color:#6A6969;
}

.card .bottom {
  padding:2em 1em 1em 1em;
}

.stars {
  margin: var(--spacing-sm) 0;
  display: flex;
  align-items: center;
}

.reviews .scroll-container .card h1 {
  margin-top: 15px !important;
  margin: 0;

}

.reviews .scroll-container .card img {
  -ms-flex-item-align: center !important;
      -ms-grid-row-align: center !important;
      align-self: center !important;
}

.reviews .scroll-container .card h2 {
  font-size: 14px;
}

.reviews .scroll-container .card p {
  font-weight: 300;
}

.reviews .scroll-container .card h1, .reviews .scroll-container .card p {
  font-size: 14px;
}

.reviews .scroll-container::-webkit-scrollbar {
  display: none;
}

