<div class="reviews">
  <h1>
    Latest reviews
  </h1>
  <div class="scroll-container">

    <div routerLink="/products/{{recentReview.urls.category}}/{{recentReview.urls.subcategory}}/{{recentReview.urls.product}}"
      *ngFor="let recentReview of recentReviews"
      class="card"
      (click)="onShare(recentReview)">
      <div class="top">
        <img class="review__img" [src]="imageService.getUrl('products', recentReview.urls.product + '.png')">
      </div>
      <div class="bottom">
        <h1 >
          {{recentReview.productTitle}} {{getStars(recentReview)}} <span>- {{recentReview.totalReviews}} reviews</span> 
        </h1>
        <!-- <p>{{recentReview.title}}</p> -->
        <div class="stars">
          <star-rating
            [value]="getStarsFloor(recentReview)"
            [totalstars]="5"
            checkedcolor="#80CBC4"
            uncheckedcolor="grey"
            size="24px"
            [readonly]="true">
          </star-rating>
          <p></p>
        </div>
        <div class="content">
          <p>{{recentReview.content}}</p>
        </div>
      </div>
    </div>

    <!-- <div
      *ngFor="let recentReview of recentReviews"
      class="card"
      (click)="onShare(recentReview)">

      <img
        class="review__img"
        [src]="imageService.getUrl('products', recentReview.urls.product + '.png')">

      <a routerLink="/products/{{recentReview.urls.category}}/{{recentReview.urls.subcategory}}/{{recentReview.urls.product}}/review/{{recentReview.urls.review}}">
        {{recentReview.title}} (41)
      </a>
      <div class="zvezdice">
        <p style="opacity:0.5; font-style: italic;">placeholder</p>
      </div>
      <div class="content">
        <p>{{recentReview.content}}</p>
      </div>

    </div> -->

</div>
